<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input [(ngModel)]="termoDeBusca" placeholder="Digite um termo" (keydown)="filtraPiadas()"></ion-input>
    <img [src]=url alt="">
    <ion-button color="dark" expand="full" (click)="exebirPiada()">Exibir piada show!</ion-button>
    
    <div *ngFor="let p of piadas">
        <div>{{p.pergunta.substring(0, 24) + ' ...'}}</div>
    </div>
  </div>
</ion-content>
